extends layout.pug

block content
 div(class="container")
  if totalBooks === 0
   h2 Your search result does not match any records in our library, please try again
    form(action="/books/search" method="post" class="form-inline")
     input(name="search" type="text" id="search" placeholder="Search for a book title, author, genre or year in our Library" class="form-control")
     input(type="submit" value="Search!" class="custom-btn")
   a(class="custom-btn" href="/books") Go Back 
  else 
   form(action="/books/search" method="post" class="form-inline")
    input(name="search" type="text" id="search" placeholder="Search for a book title, author, genre or year in our Library" class="form-control")
    input(type="submit" value="Search!" class="custom-btn")
   h1 Books
   p
    a(class="button" href="/books/new") Create New Book
   table(class="table table-striped table-bordered")
    thead
     tr
      th Title
      th Author
      th Genre
      th Year
    tbody
     each book in books
      tr
       td 
        a(href=`/books/${book.id}`) #{book.title}
       td #{book.author}
       td #{book.genre}
       td #{book.year}
   p= "Total books: " + totalBooks
   div(class="row")
   ul(class="pagination col-sm-4")
    - var n = 1;
     while n <= pages
      li
       if(current == n)
        a(class="active" href="/books/?page=" + n)= n++
       else
        a(href="/books/?page=" + n)= n++ 
   if search
    div(class="row")
     a(class="custom-btn-back" href="/books") Go Back